NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_GHN_TOKEN=
NEXT_PUBLIC_GHN_SHOP_ID=
NEXT_PUBLIC_REVERB_APP_KEY=
NEXT_PUBLIC_REVERB_HOST=localhost
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http
NEXT_PUBLIC_FIREBASE_DB_URL=